---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h2><span class="text-gradient">Web development agency</span></h2>
  <div class="content-wrapper">
    <div class="card goals">
      <h3>Project goals</h3>
      <p
        >This site was originally going to be my developer portfolio, but the
        style I was aiming for seemed much more appropriate for a business, so I
        decided I would us it to build a site for a web development agency I
        plan to open some day. When i't's time to open shop I hope to have a
        good website ready to go. With this site I wanted to build a clean site
        with very few colors and lots of space. I wanted to the site to hit all
        the right notes in terms of design such that it visual hierarchy
      </p>
    </div>
    <div class="card image"> </div>

    <div class="card build">
      <h3>Tech stack and build</h3>
      <p>
        I used HTML, CSS, Sass and JavaScript and I used a script in my
        package.json file to compile everything down to my public folder without
        having to install any packages to do that.
      </p>
      <div class="build-image"> </div>
    </div>
    <div class="card video">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ZKmLpHHnppE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="card trials">
      <h3>Dificultes encountered</h3>
      <p>
        With the way I set up the HTML, I had some trouble with naming classes
        and keeping them both meaningful and consistent.
      </p>
    </div>
    <div class="card learning">
      <h3>Learning</h3>1
      <p>
        I wanted this project to help me get better at CSS and particularly
        Sass. As a result I was able to learn how to set up partials in folders
        and how to use _index.scss_ files to forward partials to where they were
        needed then use @use in each file to namespace the statements I needed.
        This was very rewarding and I have used and refined this method in other
        projects since. I also learned the BEM methodology for naming CSS
        classes.
      </p>
    </div>
    <div class="card plans">
      <h3>Future plans</h3>
      <p>
        As this will be my future agency/freelance site I expect to spend time
        refining it and experimenting with different design adjustments as I
        have to time to make something I am really happy with. I would like to
        refine the CSS to make it more logical and maintainable. I would also
        like to have some animations on scroll to bring the site alive a bit
        more, but not too much, this site is all about making a big impact while
        remaining as understated as possible.
      </p>
    </div>
    <div class="card view">
      <button class="btn nav__btn">View Site</button>
      <button class="btn nav__btn">View source code</button>
    </div>
  </div>

  <style lang="scss">
    @use "../../styles/mixins" as m;
    @use "../../styles/variables" as w;

    .content-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      padding-block-start: 3rem;
      width: 100%;
      margin-inline: auto;
      @include m.for-tablet(w.$tablet) {
        grid-template-columns: repeat(auto-fit, calc(100% / 4));
        grid-template-rows: repeat(auto-fit, 100%);
      }
    }

    .card {
      box-shadow: 0 0 3px var(--color-fg);
      padding: 1rem;
      border-radius: 0.5rem;
      // color: var(--color-bg);
      @include m.for-tablet(w.$tablet) {
        padding: 2rem;
      }
    }

    .goals {
      // grid-column: 1;
      // grid-row: 1;

      @include m.for-tablet(w.$tablet) {
        grid-column: 1 / 3;
      }
    }

    .image {
      @include m.for-tablet(w.$tablet) {
        grid-column: 1;
        grid-row: 2;
      }
    }

    .image {
      width: 100%;
      height: 50rem;
      background-image: url("../../images/evensite-mobile.png");
      background-position: cover;
      @include m.for-tablet(w.$tablet) {
        background-position: -1.5rem 0;
        background-size: cover;
        width: 100%;
        grid-column: 1;
        grid-row: 2 / 4;
      }
    }

    .build {
      @include m.for-tablet(w.$tablet) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
      }
    }

    .build .build-image {
      background-image: url("../../images/package-json-scripts.png");
      background-size: center cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 50%;
    }
    .video {
      padding: 0;
      grid-row: 2;
      padding: 0.5rem;
      @include m.for-tablet(w.$tablet) {
        grid-column: 3 / 5;
        grid-row: 1;
      }
    }

    .plans {
      @include m.for-tablet(w.$tablet) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
    }

    iframe {
      width: 100%;
      height: 100%;
      margin-inline: auto;
      padding: 0.1rem;
      @include m.for-tablet(w.$tablet) {
        height: 100%;
      }
      h3 {
        margin-block-end: 2rem;
      }

      p {
        line-height: 1.6;
      }
    }
  </style>
</BaseLayout>
