.header {
  display: flex;
  flex-direction: column;
  // align-items: space-between;
  // justify-content: center;
  // margin-inline: auto;
}

.logo-desktop {
  display: none;
}
// * {
//   outline: 0px red solid;
//   opacity: 0 !important;
//   visibility: visible !important;
// }

// .mobile-nav {
//   display: flex;
//   // flex-direction: row-reverse;
//   align-items: space-between;
//   justify-content: space-between;
// }

// Navigation
// Hamburger / logo container
