---
import AboutLayout from "../layouts/AboutLayout.astro";
const bioActive = "background-color: var(--color-bg); color: var(--color-fg)";
const aboutActive = "background-color: var(--color-fg); color: var(--color-bg)";
---

<AboutLayout
  title={"Adam Ralph | About "}
  bio={bioActive}
  about={aboutActive}
  heading="Hello, friend"
  btnText="Let's talk"
  btnPath="/contact"
>
  <p>
    I'm Self-taught web developer specializing in HTML, CSS, and JavaScript.
    <br />
    <br />
    A few years ago I decided to take this thread and start weaving it more promentently
    into my life and began to learn and build projects. Now, while still working
    full time I dedicated as much free times as I can learning and practicing.
    <br />
    <br />
    A few years ago I decided to take this thread and start weaving it more promentently
    into my life and began to learn and build projects. Now, while still working
    <br />
    <br />
    A few years ago I decided to take this thread and start weaving it more promentently
    into my life and began to learn and build projects. Now, while still working
  </p>
</AboutLayout>
