---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <Header />
    <Hero />
    <Footer />
  </body>
</html>
