---
// import MainHead from "../components/MainHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import CompProjects from "../components/CompProjects.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout>
  <Hero />
  <h2 class="projects-title">Compiled with love</h2>
  <CompProjects />
  <div class="contact-form">
    <ContactForm justify="left" />
  </div>
</BaseLayout>

<style>
  .projects-title {
    margin-block-start: 3rem;
    margin-block-end: 4rem;
  }

  .contact-form {
    margin-block-start: 4rem;
  }
</style>
