---
// import MainHead from "../components/MainHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import CompProjects from "../components/CompProjects.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout>
  <Hero />
  <p>I build with HTML5 CSS3 JavaScript, and more.</p>
  <p
    >More about my favorite tools and technologies
    <a href="http://github.com/adamjralph">Here</a>
  </p>
  <h2 class="projects-title">My work</h2>
  <CompProjects />
  <div class="contact-form">
    <ContactForm justify="left" />
  </div>
</BaseLayout>

<style>
  .projects-title {
    margin-block-start: 3rem;
    margin-block-end: 4rem;
  }

  .contact-form {
    margin-block-start: 4rem;
  }
</style>
