---
// import MainHead from "../components/MainHead.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import CompProjects from "../components/CompProjects.astro";
import Skills from "../components/Skills.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout>
  <Hero />

  <div class="skills">
    <Skills />
  </div>
  <h2 class="projects-title">My work</h2>
  <CompProjects />
  <div class="contact-form">
    <h3>Get in touch</h3>
    <ContactForm justify="left" />
  </div>
</BaseLayout>

<style lang="scss">
  .skills {
    margin-block-start: 6rem;
  }

  .projects-title {
    margin-block-start: 3rem;
    margin-block-end: 4rem;
  }

  .contact-form {
    margin-block-start: 4rem;

    h3 {
      margin-block-end: 3rem;
    }
  }
</style>
