---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderLayout from "../layouts/HeaderLayout.astro";
---

<BaseLayout>
  <h1 class="projects-heading">Projects</h1>
</BaseLayout>

<style lang="scss">
  .projects-heading {
    align-self: center;
    margin-block-start: 4rem;
    margin-inline: auto;
  }
</style>
