---
import ProjectsLayout from "../layouts/ProjectsLayout.astro";
import CompProjects from "../components/CompProjects.astro";
---

<ProjectsLayout>
  <h1 class="projects-title">Some of my work</h1>
  <CompProjects />
</ProjectsLayout>

<style>
  .projects-title {
    margin-block-end: 4rem;
  }
</style>
