---
const { projectsHeading } = Astro.props;
---

<section>
  <div class="project-grid">
    <a
      class="card-link"
      href="#"
    >
      <div class="project-card project-1">
        <h3 class="card-heading">Project One</h3>
        <p class="card-text">About the project</p>
        <div class="card-image card-image-1"></div>
      </div>
    </a>
    <a
      class="card-link"
      href="#"
    >
      <div class="project-card project-1">
        <h3 class="card-heading">Project two</h3>
        <p class="card-text">About the project</p>
        <div class="card-image card-image-2"></div>
      </div>
    </a>
    <a
      class="card-link"
      href="#"
    >
      <div class="project-card project-1">
        <h3 class="card-heading">Project three</h3>
        <p class="card-text">About the project</p>
        <div class="card-image card-image-3"></div>
      </div>
    </a>
    <a
      class="card-link"
      href="#"
    >
      <div class="project-card project-1">
        <h3 class="card-heading">Project four</h3>
        <p class="card-text">About the project</p>
        <div class="card-image card-image-4"></div>
      </div>
    </a>
  </div>
</section>
<style lang="scss">
  @use "../styles/mixins" as m;
  @use "../styles/variables" as w;

  .projects-heading {
    align-self: center;
    margin-block-start: 4rem;
    margin-block-end: 2rem;

    margin-inline: auto;
  }

  .project-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    @include m.for-mobile(w.$tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .project-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 10rem;
    background-color: var(--color-bg);
    border: 2px solid var(--color-fg);
    border-radius: 0.2rem;
    padding: 1rem;
  }

  .card-heading,
  .card-text {
    color: var(--color-fg);
  }

  .card-heading {
    grid-column: 1;
    grid-row: 1;
  }

  .card-text {
    grid-column: 1;
    grid-row: 2;
  }

  .card-image {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .card-image {
    width: 100%;
    height: auto;
    background-position: 0 0;
    background-size: cover;
    &-1 {
      background-image: url("../images/balazs-ketyi-1.jpg");
    }
    &-2 {
      background-image: url("../images/sigmund-1.jpg");
    }
    &-3 {
      background-image: url("../images/balazs-ketyi-2.jpg");
    }
    &-4 {
      background-image: url("../images/daniel-korpai-1.jpg");
    }
  }
</style>
