<form action="submit">
  <label for="name">Name</label>
  <input
    name="name"
    type="text"
    placeholder="Name"
  />
  <label for="email">Email</label>
  <input
    name="name"
    type="text"
    placeholder="Email"
  />
  <label for="phone">Phone</label>
  <input
    name="phone"
    type="number"
    placeholder="Email"
  />
  <label for="message">Message</label>
  <textarea
    name="message"
    placeholder="Message"
    id="message"
    cols="30"
    rows="10"></textarea>
</form>
