---
const { justify } = Astro.props;
---

<div
  class="form-wrapper"
  style={`justify-content: ${justify};`}
>
  <form
    class="contact-form"
    action="submit"
  >
    <label for="name">Name</label>
    <input
      name="name"
      type="text"
      placeholder="Name"
    />
    <label for="email">Email</label>
    <input
      name="name"
      type="text"
      placeholder="Email"
    />
    <label for="phone">Phone</label>
    <input
      name="phone"
      type="number"
      placeholder="Email"
    />
    <label for="message">Message</label>
    <textarea
      name="message"
      placeholder="Message"
      id="message"
      cols="30"
      rows="10"></textarea>
    <button
      class="btn nav__btn"
      type="submit">Send</button
    >
  </form>
</div>

<style lang="scss">
  @use "../styles/mixins" as m;
  @use "../styles/variables" as w;

  .nav-large {
    display: none;
  }
  
  .form-wrapper {
    // display: grid;
    // justify-content: center;
    // width: 100%;
    // margin-inline: auto;
  }
  .contact-form {
    display: grid;
    // place-content: center;
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    @include m.for-desktop(w.$desktop) {
      max-width: 60%;
    }
  }

  label,
  input {
    margin-block-end: 0.5rem;
  }

  .btn {
    margin-block-start: 1rem;
    max-width: 50%;
  }

  input,
  textarea {
    font-weight: 500;
    letter-spacing: 1px;
    background-color: var(--color-fg);
    color: var(--color-bg);
    // border: 1px inset var(--color-fg);
    padding: 0.5rem;
    border-radius: 0.1rem;
  }
</style>
