---
import ThemeSelection from "./ThemeSelection.astro";
---

<!-- Navigation Tablet/Desktop -->
<nav class="nav">
  <div class="theme-toggle">
    <ThemeSelection />
  </div>
  <div class="logo">
    <a href="/">
      <h1 class="logo-heading text-gradient">adam</h1>
    </a>
  </div>

  <div class="links">
    <a
      href="/about"
      class="link nav__link">about</a
    >
    <a
      href="/projects"
      class="link nav__link">projects</a
    >

    <a href="#contact"
      ><button class="btn nav__btn nav__link contact">Lets Talk</button>
    </a>
  </div>
</nav>

<style lang="scss">
  .theme-toggle {
    // display: grid;
    // place-items: center;
  }

  .nav {
    // position: absolute;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-block-start: 2rem;
    margin-inline: auto;
    z-index: 3;
  }

  .links {
    display: flex;
    align-items: baseline;

    .link {
      margin-inline-end: 1rem;
    }
    .contact {
      width: 100%;
    }
  }
</style>
