---
const buildTime = new Date().toLocaleString();
const copyYear = new Date().getFullYear();
---

<footer class="footer">
  <img
    class="astro-netlify"
    src="https://user-images.githubusercontent.com/3611928/167888733-9bf21eda-d051-46f3-9184-12b14e21a10a.png"
    alt=""
  />
  <p class="build">Latest build:{buildTime}</p>
  <p class="copyright">&copy; {copyYear}</p>
</footer>

<style>
  .footer {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-around;
  }

  .footer * ~ * {
    margin-block-start: 0.5rem;
  }

  .copyright {
    grid-column: 1 / 3;
    grid-row: 3;
    text-align: center;
  }

  .astro-netlify {
    grid-column: 1 / 3;
    grid-row: 1;
    max-width: 60%;
    margin-inline: auto;
  }
  .build {
    grid-column: 1 / 3;
    grid-row: 2;
    text-align: center;
    color: var(--color-highlight);
  }
  span {
    color: var(--color-fg);
  }
</style>
