---
import SocialLinks from "./SocialLinks.astro";
import ThemeSelection from "./ThemeSelection.astro";
---

<div class="nav">
  <div class="logo">
    <a href="/">
      <h1 class="logo-heading text-gradient">adam</h1>
    </a>
    <div class="theme">
      <ThemeSelection />
    </div>
  </div>
  <div class="social">
    <!-- <SocialLinks /> -->
  </div>
  <div class="links">
    <a
      href="/"
      class="link nav__link">home</a
    >
    <a
      href="/about"
      class="link nav__link">about</a
    >
    <a
      href="/projects"
      class="link nav__link">projects</a
    >
  </div>
  <div class="contact-wrapper">
    <a href="#contact"
      ><button class="btn nav__btn nav__link contact">let's talk</button>
    </a>
  </div>
  <button
    class="nav-toggle"
    aria-label="open navigation"
  >
    <span class="hamburger"></span>
  </button>
</div>

<style lang="scss">
  @use "../styles/mixins" as m;
  @use "../styles/variables" as w;
  .nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 20vh);
    height: 100vh;
    @include m.for-tablet(w.$tablet) {
      display: flex;
      align-items: baseline;
      height: auto;
    }
    // justify-content: space-between;
    // position: relative;
    // display: grid;
    // grid-template-columns: 7fr 2fr 1fr;
    // grid-template-columns: 70% 20% 10%;
    // grid-template-columns: 70vw 20vw 10vw;

    // grid-template-rows: 1fr;
    // justify-content: space-between;

    .logo {
      grid-column: 3;
      grid-row: 1;
      place-self: start end;
      @include m.for-tablet(w.$tablet) {
        flex-grow: 1;
      }
    }

    .theme {
      align-self: center;
      @include m.for-tablet(w.$tablet) {
      }
    }

    .links * ~ * {
      margin-block-start: 1rem;
      @include m.for-tablet(w.$tablet) {
        margin-inline-start: 1rem;
      }
    }

    .links {
      @include m.for-tablet(w.$tablet) {
        display: block;
      }
      // place-self: baseline end;
      // margin-inline-end: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-column: 2;
      grid-row: 2;
      // margin-block-end: 1rem;
      margin-inline: auto;
      place-self: baseline end;
    }

    .contact-wrapper {
      @include m.for-tablet(w.$tablet) {
        display: block;
        margin-inline-start: 1rem;
        place-self: baseline;
      }
      grid-column: 2;
      grid-row: 2;
      place-self: end center;
      // margin-block-start: 2rem;
      // place-self: baseline end;
    }

    .contact {
      @include m.for-tablet(w.$tablet) {
        padding-inline: 0.5em;
      }
      padding-inline: 0.2em;
    }

    // Mobile menu
    .nav-toggle {
      grid-column: 1;
      grid-row: 1;
      place-self: start;
      @include m.for-tablet(w.$tablet) {
        display: none;
      }

      cursor: pointer;
      border: 0;
      width: 2rem;
      height: 2.5rem;
      padding: 0;
      margin-block-start: 0.4rem;
      border-radius: 50%;
      background: var(--color-bg);
      left: 0;
      top: 0;
      z-index: 1;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      display: block;
      height: 0.1rem;
      background: var(--color-fg);
      z-index: 1;
    }

    .hamburger::before,
    .hamburger::after {
      content: "";
      width: 100%;
    }

    .hamburger::before {
      transform: translateY(-7px);
    }

    .hamburger::after {
      transform: translateY(5px);
    }
  }
</style>
