---
const lead = Array.from('let name = "Adam";')

---

<section>
  <div class="lead-container" id="lead-one">
  </div>
  <div class="lead-container" id="lead-two">
  </div>

</section>

<style lang="scss">
  .lead-container {
    display: grid;
    grid-template-columns: repeat(18, 1rem);
    max-width: 50%;
    // flex-direction: column;
  }
  
  .letter {
    font-family: monospace;
    // display: flex;
    // justify-content: center;
    // margin-inline: auto;
    // padding: 0;
    // margin: 0;
    &:hover {
      opacity: 0;
    }
  }
</style>

<script>

  let i = 0;
  const txt = 'let name = "Adam";console.log(name);'
  const words = {
    'l': 'white',
    'e': 'white',
  }
  let speed = 100; /* The speed/duration of the effect in milliseconds */
  
  // function typeWriter() {
  //   if (i < txt.length) {
  //     document.getElementById("demo").innerHTML += txt.charAt(i);
  //     i++;
  //     setTimeout(typeWriter, speed);
  //   }
  // }

  function typeTextOne() {
    const lineOne = document.getElementById('lead-one') 
    if (i < txt.length) {
        let letter = lineOne.appendChild(
          document.createElement('p')
          )
        // letter.style.opacity = '0'
        // letter.style.transition = 'opacity 2s ease' 
        // letter.style.opacity = '1'
        letter.innerText = txt[i]
        // letter.classList.toggle('letter-transition')
        letter.classList.add('letter')
        i++
        setTimeout(typeTextOne, speed)
      }
    }
    
    
  typeTextOne()



</script>
