---
const lead = Array.from('let name = "Adam";')

---

<section>
  <div class="lead-container" id="lead-one">
    <pre class="lead" id="lead"></pre>
  </div>
</section>

<style lang="scss">
  
  .lead {
    font-family: monospace;
    font-size: 1.5rem;
    width: 100%;
    margin-inline: auto;
  }
</style>

<script>


  const color = {
    "one": "violet",
    "two": "darkOrange",
    "three": "steelblue",
    "four": "seagreen",
    "five": null,
    "six": "gold"
  }
  
  const txt = [
    ['c', color.one],
    ['o', color.one],
    ['n', color.one],
    ['s', color.one],
    ['t', color.one],
    [' ', null],
    ['n', color.two],
    ['a', color.two],
    ['m', color.two],
    ['e', color.two],
    [' ', null],
    ['=', color.three],
    [' ', null],
    ['"', color.four],
    ['A', color.four],
    ['d', color.four],
    ['a', color.four],
    ['m', color.four],
    ['"', color.four],
    [';', null],
    ['\n', null],
    ['c', color.five],
    ['o', color.five],
    ['n', color.five],
    ['s', color.five],
    ['o', color.five],
    ['l', color.five],
    ['e', color.five],
    ['.', color.five],
    ['l', color.three],
    ['o', color.three],
    ['g', color.three],
    ['(', color.six],
    ['n', color.five],
    ['a', color.five],
    ['m', color.five],
    ['e', color.five],
    [')', color.six],

  ]

  let i = 0;
  let j = 0
  const speed = 100; 
  
  // function typeLead() {
  //   if (i < txt.length) {
  //     document.getElementById("lead").innerHTML += `<span style="color: ${txt[i][1]}">${txt[i][0]}`
  //     i++;
  //     setTimeout(typeLead, speed);
  //   }
  // }

  function typeLead() {
    if (i < txt.length) {
      document.getElementById("lead").innerHTML += `<span style="color: ${txt[i][1]}">${txt[i][0]}`
      i++;
      setTimeout(typeLead, speed);
    }
  }

  typeLead()



</script>
