---
const lead = Array.from('let name = "Adam";')

---

<section>
  <div class="lead-container" id="lead-one">
    <pre class="lead" id="lead"></pre>
  </div>
</section>

<style lang="scss">
  .lead-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .lead {
    min-width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
  }
</style>

<script>


  const color = {
    "one": "violet",
    "two": "darkOrange",
    "three": "steelblue",
    "four": "seagreen",
    "five": null,
    "six": "gold",
    "seven": "indianred",
  }


  const txt = [
    ['c', color.one],
    ['o', color.one],
    ['n', color.one],
    ['s', color.one],
    ['t', color.one],
    [' ', null],
    ['a', color.two],
    ['d', color.two],
    ['a', color.two],
    ['m', color.two],
    [' ', null],
    ['=', null],
    [' ', null],
    ['{', color.three],
    ['\n', null],
    ['\t', null],
    ['f', color.seven],
    ['i', color.seven],
    ['r', color.seven],
    ['s', color.seven],
    ['t', color.seven],
    [':', null],
    [' ', null],
    ['"', color.four],
    ['A', color.four],
    ['d', color.four],
    ['a', color.four],
    ['m', color.four],
    ['"', color.four],
    [',', null],
    ['\n', null],
    ['\t', null],
    ['l', color.seven],
    ['a', color.seven],
    ['s', color.seven],
    ['t', color.seven],
    [':', null],
    [' ', null],
    ['"', color.four],
    ['R', color.four],
    ['a', color.four],
    ['l', color.four],
    ['p', color.four],
    ['h', color.four],
    ['"', color.four],
    [',', null],
    ['\n', null],
    ['\t', null],
    ['d', color.seven],
    ['e', color.seven],
    ['v', color.seven],
    ['e', color.seven],
    ['l', color.seven],
    ['o', color.seven],
    ['p', color.seven],
    ['e', color.seven],
    ['r', color.seven],
    [':', null],
    [' ', null],
    ['t', color.four],
    ['r', color.four],
    ['u', color.four],
    ['e', color.four],
    [',', null],
    ['\n', null],
    ['\t', null],
    ['c', color.seven],
    ['i', color.seven],
    ['t', color.seven],
    ['y', color.seven],
    [':', null],
    [' ', null],
    ['M', color.four],
    ['e', color.four],
    ['l', color.four],
    ['b', color.four],
    ['o', color.four],
    ['u', color.four],
    ['r', color.four],
    ['n', color.four],
    ['e', color.four],
    [',', null],
    ['\n', null],
    ['\t', null],
    ['s', color.seven],
    ['t', color.seven],
    ['a', color.seven],
    ['t', color.seven],
    ['e', color.seven],
    [':', null],
    [' ', null],
    ['V', color.four],
    ['i', color.four],
    ['c', color.four],
    ['t', color.four],
    ['o', color.four],
    ['r', color.four],
    ['i', color.four],
    ['a', color.four],
    [',', null],
    ['\n', null],
    ['\t', null],
    ['c', color.seven],
    ['o', color.seven],
    ['u', color.seven],
    ['n', color.seven],
    ['t', color.seven],
    ['r', color.seven],
    ['y', color.seven],
    [':', null],
    [' ', null],
    ['A', color.four],
    ['u', color.four],
    ['s', color.four],
    ['t', color.four],
    ['r', color.four],
    ['a', color.four],
    ['l', color.four],
    ['i', color.four],
    ['a', color.four],
    [',', null],
    ['\n', null],
    ['}', color.three],
    ['\n', null],
    ['c', color.five],
    ['o', color.five],
    ['n', color.five],
    ['s', color.five],
    ['o', color.five],
    ['l', color.five],
    ['e', color.five],
    ['.', color.five],
    ['t', color.three],
    ['a', color.three],
    ['b', color.three],
    ['l', color.three],
    ['e', color.three],
    ['(', color.six],
    ['a', color.five],
    ['d', color.five],
    ['a', color.five],
    ['m', color.five],
    [')', color.six],

  ]

  let i = 0;
  let j = 0
  const speed = 50; 
  
  function typeLead() {
    if (i < txt.length) {
      document.getElementById("lead").innerHTML += `<span style="color: ${txt[i][1]}">${txt[i][0]}`
      i++;
      setTimeout(typeLead, speed);
    }
  }
  typeLead()

</script>
