---
import ThemeSelection from "./ThemeSelection.astro";
import SocialLinks from "./SocialLinks.astro";
---

<div class="hamburger-menu">
  <button
    class="nav-toggle"
    aria-label="open navigation"
  >
    <span class="hamburger"></span>
  </button>
  <nav class="nav">
    <div class="mobile-theme">
      <ThemeSelection />
    </div>
    <a
      href="/"
      class="nav__link nav__link--text">home</a
    >
    <a
      href="/about"
      class="nav__link nav__link--text">about</a
    >
    <a
      href="/projects"
      class="nav__link nav__link--text">projects</a
    >
    <a href="/contact"><button class="btn nav__btn">Lets Talk</button></a>

    <div class="social-mobile">
      <SocialLinks />
    </div>
  </nav>

  <div class="logo-mobile">
    <a href="/">
      <h1 class="text-gradient logo-mobile__heading">adam</h1>
    </a>
  </div>
</div>

<style lang="scss">
  .theme-toggle {
    display: grid;
    place-items: center;
  }

  .nav * + * {
    margin-block-start: 1rem;
  }

  .social-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-block-start: 1.5rem;
  }

  .hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 2rem;
    height: 1rem;
    transition: all 0.3s ease;
  }

  // Nav toggle
  .nav-toggle {
    cursor: pointer;
    border: 0;
    width: 2rem;
    height: 2.5rem;
    padding: 0;
    margin-block-start: 2rem;
    border-radius: 50%;
    background: var(--color-bg);
    left: 0;
    top: 0;
    z-index: 1;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    height: 0.1rem;
    background: var(--color-fg);
    z-index: 1;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 100%;
  }

  .hamburger::before {
    transform: translateY(-7px);
  }

  .hamburger::after {
    transform: translateY(5px);
  }

  .logo-mobile {
    display: block;
    margin-block-start: 1.5rem;
    z-index: 1;
  }

  .nav {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transform: translateX(-400px);
    transition: transform 0.3s ease-in-out;

    &--visible {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100vh;
      visibility: visible;
      opacity: 1;
      left: 0;
      top: 0;
      // margin-block-start: 8rem;
      padding-block-start: 5rem;
      background: var(--color-bg);
      transform: translateX(0);
      transition: transform 0.5s ease;
      // z-index: 1;
    }
  }

  .nav-transition {
    padding-block-start: 1.5rem;
    padding-inline: 1.5rem;
    transition: padding 0.3s ease;
  }
</style>
