---
const { iconSize } = Astro.props;

export interface iconSize {
  iconSize: string;
  default: "fa-2xl";
}
---

<!-- Twitter -->
<a
  href="http://twitter.com/adamjralph"
  class="link link-twitter"
>
  <i
    class="fa-brands fa-twitter fa-xl icon icon-twitter"
    class={iconSize}></i>
</a>
<!-- Youtube-->
<a
  href="https://www.youtube.com/channel/UCRMH3kvPD8o1Khssr4A8EWg"
  class="link link-youtube"
>
  <i class="fa-brands fa-youtube fa-xl icon icon-youtube"></i>
</a>
<!-- Github -->
<a
  href="https://github.com/adamjralph"
  class="link link-github"
>
  <i class="fa-brands fa-github fa-xl icon icon-github"></i>
  <div class="github-background"></div>
</a>
<style lang="scss">
  .link {
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    animation-delay: 1.5s;
  }

  .icon {
    color: var(--color-ic);
    filter: drop-shadow(0 0 0.1rem var(--color-fg));

    transition: color 0.3s ease-in-out;
    // margin-inline: 0;
    // padding-inline: 0;

    &:hover,
    &:focus {
      color: var(--color-ic);
      transform: scale(1.2);
      filter: drop-shadow(0 0 0.1rem var(--color-ds));
    }
  }
</style>
