---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ThemeSelection from "../components/ThemeSelection.astro";
const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead
      title={title}
      description={description}
    />
    <style lang="scss">
      @use "../styles/mixins" as m;
      @use "../styles/variables" as w;

      .wrapper {
        width: max(95%, 65%);
        padding-inline: 2rem;
        /* max-width: calc(100% - 4rem); */
        margin-inline: auto;
      }

      // .wrapper {
      //   display: none;
      //   @include m.for-desktop(w.$desktop) {
      //     display: block;
      //   }
      // }
      .top-header-padding {
        height: 3rem;
      }
      .bottom-header-padding {
        height: 5rem;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <!-- <ThemeSelection /> -->
      <div class="top-header-padding"></div>
      <Header />
      <div class="bottom-header-padding"></div>
      <slot />

      <Footer />
    </div>
    <script>
      const hero = document.getElementById("hero");

      function hideHero() {
        if (hero.style.opacity === "0") {
          hero.style.opacity = "1";
        } else {
          hero.style.opacity = "0";
        }
      }

      const navToggle = document.querySelector(".nav-toggle");
      const nav = document.querySelector(".nav");

      const navContainer = document.querySelector(".hamburger-menu");

      navToggle.addEventListener("click", () => {
        nav.classList.toggle("nav--visible");
        // navContainer.classList.toggle("nav-transition");
        // hideHero();
      });

      window.addEventListener("resize", function () {
        if (window.innerWidth >= 600) {
          console.log("Bigger than tablet");
          nav.classList.remove("nav--visible");
        }
      });
    </script>
  </body>
</html>
