---
import MobileMenu from "../components/MobileMenu.astro";
import DesktopMenu from "../components/DesktopMenu.astro";
import "../styles/global.scss";
---

<header
  id="header"
  class="header"
>
  <div class="nav-small">
    <MobileMenu id="mobile" />
  </div>
  <div class="nav-large">
    <DesktopMenu id="desktop" />
  </div>
</header>

<style lang="scss">
  @use "../styles/mixins" as m;
  @use "../styles/variables" as w;

  .nav-large {
    visibility: hidden;
    @include m.for-mobile(w.$mobile) {
      visibility: visible;
    }
  }

  .nav-small {
    display: block;
    @include m.for-mobile(w.$mobile) {
      display: none;
    }
  }
</style>
