---
import MobileMenu from "../components/MobileMenu.astro";
import "../styles/header.scss";
---

<div class="container">
  <header
    id="header"
    class="header"
  >
    <!-- Hamburger -->
    <MobileMenu />
    <!-- Logo -->

    <!-- Navigation Tablet/Desktop -->
    <div class="logo-desktop">
      <h1 class="logo-desktop__heading">adam</h1>
    </div>

    <!-- Social links -->

    <!-- Navigation -->
  </header>
</div>
