---
import MobileMenu from "../components/MobileMenu.astro";
import DesktopMenu from "../components/DesktopMenu.astro";
import "../styles/global.scss";
import "../styles/header.scss";
---

<div class="container">
  <header
    id="header"
    class="header"
  >
    <div class="nav-small">
      <MobileMenu />
    </div>
    <div class="nav-large">
      <DesktopMenu />
    </div>

    <div class="logo-desktop">
      <h1 class="logo-desktop__heading">adam</h1>
    </div>
  </header>
</div>

<style lang="scss">
  @use "../styles/mixins" as m;
  @use "../styles/variables" as w;

  .nav-large {
    display: block;
    @include m.for-mobile(w.$desktop) {
      display: none;
    }
  }

  .nav-small {
    display: none;
    @include m.for-mobile(w.$desktop) {
      display: block;
    }
  }
</style>
